<!DOCTYPE html>
<html>
    <head>
        <title>Boat Database</title>
        <link rel ="stylesheet" type="text/css" href="main.css"/>
    </head>
    <body>
    	<div class="container">
        	<h1>Welcome!</h1>
        	<p>This is a database of boats.</p>
        	<div th:switch="${#httpServletRequest.remoteUser!= null}">
	        	<div th:case="true">
	        		<p th:inline="text"> You are logged in as: [[${#httpServletRequest.remoteUser}]].</p>
	        		<p><a href="database">View database</a></p>
	        		<p><a href="login?logout">Log out</a></p>
	        	</div>
	        	<div th:case="false">
	        		<p>You are not logged in.</p>
	        		<p><a href="login">Login</a></p>
	        	</div>

	        </div>
        </div>
    </body>
</html>