<!DOCTYPE html>
<html>
    <head>
        <title>Boat Database</title>
        <link rel ="stylesheet" type="text/css" href="main.css"/>
    </head>
    <body>
    	<div class="container">
    		<h1> Login form</h1>
		    <div th:if="${param.error}">
		        <p>Incorrect username or password.</p>
		        <p>Hint: The username is "user" and the password is "password".</p>
		    </div>
		    <div th:if="${param.logout}">
		        You have been logged out.
		    </div>
		    <form th:action="@{/login}" method="post">
		        <div><label> User Name : <input type="text" name="username"/> </label></div>
		        <div><label> Password: <input type="password" name="password"/> </label></div>
		        <div><input type="submit" value="Login"/></div>
		    </form>
		</div>
    </body>
</html>